<!doctype html>
<html>
<head>
<title>Solar-Monitoring</title>
<style type="text/css">
#left { float: left;width: 300px;display:grid; }
#middle {float: left;width: 360px;display: grid; }
#right { float: left;width: 300px;display:grid; }
</style>
</head>

<body>
<center>
<h1>Solar-Monitoring</h1>
</center>
<div id="all">
<div id="left">
	<b>PV Leistung: {{pvpower}}W</b>
	<img src="static/solar_energy.png" height="200px">
	<p>PV-Spannung: {{pvvoltage}}V</p>
	<p>Maximale Leistung heute: {{pvpowermaxtoday}}W</p>
	<p>Erzeugte Energie heute: {{yieldtoday}}Wh</p>
	<p>Maximale Leistung gestern: {{pvpowermaxyesterday}}W</p>
	<p>Erzeugte Energie gestern: {{yieldyesterday}}Wh</p>
	<p>Erzeugte Energie gesamt: {{yieldtotal / 1000}}kWh</p>
</div>

<div id="middle">
	{% if bcurrent < 0 %}
	<b>Batterie wird entladen mit {{bpower * -1}}W</b>
	{% else %}
	<b>Batterie wird geladen mit  {{bpower}}W</b>
	{% endif %}
	<img src="static/battery.png" height=200px">
	<p>Batteriestrom: {{ bcurrent}}A</p>
	<p>Batteriespannung: {{bvoltage}}V</p>
	<p>Fehlercode: {{error}}</p>
	{% if mppt == 0 %}
	<p>MPP-Status: aus</P>
	{% elif mppt == 1 %}
	<p>MPP-Status: Spannungs- oder Strombegrenzung</p>
	{% elif mppt == 2 %}
	<p>MPP-Status: aktiv</p>
	{% endif %}

	{% if opstate == 0 %}
	<p>State of operation: Aus</p>
	{% elif opstate == 2 %}
	<p>State of operation: Fehler</p>
	{% elif opstate == 3 %}
	<p>State of operation: Konstantstromladung</p>
	{% elif opstate == 4 %}
	<p>State of operation: Konstantspannungsladung</p>
	{% elif opstate == 5 %}
	<p>State of operation: Erhaltungsladung<p>
	{% elif opstate == 7 %}
	<p>State of operation: Manueller Zellenausgleich</p>
	{% elif opstate == 245 %}
	<p>State of operation: Start…</p>
	{% elif opstate == 247 %}
	<p>State of operation: Automatischer Zellenausgleich</p>
	{% elif opstate == 252 %}
	<p>State of operation: Externe Steuerung</p>
	{% endif %}
</div>
<div id="right">
	<b>Laststrom {{iload}}A</b>
	<img src="static/lightbulb.jpg" height=200px>
	<p>Lastausgang: {{loadmode}}</p>
	<p>Last: {{pload}}W</p>
</div>
</div>
</body>
</html>
